<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Project <strong>Prometheus</strong>
                </h1>
                <small>
                    Prometheus (/prəˈmiːθiəs/ prə-MEE-thee-əs; Greek: Προμηθεύς [promɛːtʰeús], meaning "forethought")[1] is a Titan in Greek mythology, best known as the deity in Greek mythology who was the creator of mankind and its greatest benefactor, who stole fire from Mount Olympus and gave it to mankind.
                </small>
            </div>
        </div>
    </div>
</div>
