<app-picaroon-search-bar></app-picaroon-search-bar>

<div class="wrapper wrapper-content animated fadeInRight">


  <div class="row" *ngIf="detail != null">

    <div class="col-sm-12">
      <h1>{{ detail.name }}</h1>

      <a [href]="detail.magnet | safeUrl">Magnet</a>


      <div class="row">
        <div class="col-sm-12">
          <pre [innerHTML]="detail.description"></pre>
        </div>
      </div>



      <div class="row">


        <div class="col-sm-12">
          <div class="feed-activity-list">

            <div class="feed-element" *ngFor="let comment of detail.comments">
                <a href="#" class="pull-left">
                    <img alt="image" class="img-circle" src="https://www.gravatar.com/avatar/00000000000000000000000000000000">
                </a>
                <div class="media-body ">
                    <small class="pull-right">{{ comment.commented }}</small>
                    <strong>{{ comment.user }}</strong><br/>
                    <small class="text-muted">{{ comment.commented }}</small>
                    <div class="well" [innerHTML]="comment.text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    </div>
                </div>
            </div>


          </div>

        </div>


      </div>




    </div>




</div>

</div>
