<div class="row animated fadeInUp">

  <div class="col-sm-2 m-b-md" *ngFor="let category of categories">
    <h3><a (click)="browse(category.id, category.id)">{{ category.name }}</a></h3>
    <ul class="list-unstyled">
      <li *ngFor="let subcategory of category.subcategories"><a (click)="browse(category.id, subcategory.id)">{{ subcategory.name }}</a></li>
    </ul>
  </div>

</div>

<div class="row" *ngIf="error != null">
  <div class="col-lg-12">
    <div class="alert alert-danger animated pulse">
      <h4><strong>Error: </strong> {{ error.message }}</h4>
      <small>{{ error.correlationID }}</small>
      <br/>
      <a (click)="refresh()">Refresh</a>
    </div>
  </div>
</div>
